In [1]:
import pandas as pd

In [4]:
dict_medidas = {'idade':[15,18,20,25,25,30,35,40,45], 'altura':[1.50,1.60,1.70,1.80,1.90,2.00,2.10,2.20,2.30]}

In [5]:
dict_medidas

{'idade': [15, 18, 20, 25, 25, 30, 35, 40, 45],
 'altura': [1.5, 1.6, 1.7, 1.8, 1.9, 2.0, 2.1, 2.2, 2.3]}

In [7]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)

In [8]:
df_medidas

   idade  altura
0     15     1.5
1     18     1.6
2     20     1.7
3     25     1.8
4     25     1.9
5     30     2.0
6     35     2.1
7     40     2.2
8     45     2.3

## Medidas Resumo

#### Medidas de Posição

In [9]:
# Media 
df_medidas["idade"].mean()

np.float64(28.11111111111111)

In [10]:
#mediana
df_medidas["idade"].median()

np.float64(25.0)

In [11]:
#moda
df_medidas["idade"].mode()

0    25
Name: idade, dtype: int64

In [13]:
# moda altura
df_medidas['altura'].mode()

0    1.5
1    1.6
2    1.7
3    1.8
4    1.9
5    2.0
6    2.1
7    2.2
8    2.3
Name: altura, dtype: float64

#### Medidas de Disperção

In [14]:
# Variancia
df_medidas.idade.var()

np.float64(104.61111111111111)

In [15]:
# Desvio Padrao
df_medidas.idade.std()

np.float64(10.227957328377505)

In [ ]:
# Coefienciente de Variação - idade
# o resultado vem em porcentagem
df_medidas.idade.std() / df_medidas.idade.mean() * 100

np.float64(36.384037927034605)

In [17]:
# Coefienciente de Variação - Altura

df_medidas.altura.std() / df_medidas.altura.mean() * 100

np.float64(14.413751513293843)