In [1]:
import pandas as pd

In [27]:
dict_medidas = {'idade':[15,18,20,25,25,30,35,40,45], 'altura':[1.50,1.65,1.63,1.80,1.90,1.75,1.79,1.68,1.87]}

In [28]:
dict_medidas

{'idade': [15, 18, 20, 25, 25, 30, 35, 40, 45],
 'altura': [1.5, 1.65, 1.63, 1.8, 1.9, 1.75, 1.79, 1.68, 1.87]}

In [29]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)

In [30]:
df_medidas

   idade  altura
0     15    1.50
1     18    1.65
2     20    1.63
3     25    1.80
4     25    1.90
5     30    1.75
6     35    1.79
7     40    1.68
8     45    1.87

## Medidas Resumo

#### Medidas de Posição

In [9]:
# Media 
df_medidas["idade"].mean()

np.float64(28.11111111111111)

In [10]:
#mediana
df_medidas["idade"].median()

np.float64(25.0)

In [11]:
#moda
df_medidas["idade"].mode()

0    25
Name: idade, dtype: int64

In [31]:
# moda altura
df_medidas['altura'].mode()

0    1.50
1    1.63
2    1.65
3    1.68
4    1.75
5    1.79
6    1.80
7    1.87
8    1.90
Name: altura, dtype: float64

#### Medidas de Disperção

In [14]:
# Variancia
df_medidas.idade.var()

np.float64(104.61111111111111)

In [15]:
# Desvio Padrao
df_medidas.idade.std()

np.float64(10.227957328377505)

In [ ]:
# Coefienciente de Variação - idade
# o resultado vem em porcentagem
df_medidas.idade.std() / df_medidas.idade.mean() * 100

np.float64(36.384037927034605)

In [32]:
# Coefienciente de Variação - Altura

df_medidas.altura.std() / df_medidas.altura.mean() * 100

np.float64(7.3458179347623345)

#### Medidas de Forma

In [18]:
# Assimetria - idade

df_medidas.idade.skew()

np.float64(0.4431118976105141)

In [ ]:
# Assimetria - altura
df_medidas.altura.skew()

np.float64(-0.43694813636457197)

In [34]:
# Curtose -idade
df_medidas.idade.kurtosis()

np.float64(-0.945986520532399)

In [35]:
# Curtose -idade
df_medidas.altura.kurtosis()

np.float64(-0.25597320564204473)

In [36]:
# obter medidas estatisticas
df_medidas.idade.describe()

count     9.000000
mean     28.111111
std      10.227957
min      15.000000
25%      20.000000
50%      25.000000
75%      35.000000
max      45.000000
Name: idade, dtype: float64

#### Correlação de Variaveis

In [ ]:
#correlação do DATA FRAME, segundo Pearson
df_medidas.corr(method="pearson")

           idade    altura
idade   1.000000  0.587592
altura  0.587592  1.000000

In [38]:
#Correlação entre 2 variaveis
df_medidas.idade.corr(df_medidas.altura)

np.float64(0.587592241064889)

In [39]:
#Correlação do DATA FRAME, segundo Spearman
df_medidas.corr(method='spearman')

           idade    altura
idade   1.000000  0.602516
altura  0.602516  1.000000